<div>
    <h1> Glimmer!</h1>
    A Easy way of dealing with components.
    Just plug it, into the main / parent view's template.
</div>

<aside>
    <MyGlimmer @param1="Ember" @param2="Glimmer"/>
</aside>