<section class="mysection01">
    <div>This a newly created comp.</div>
    <div>
        Allows passing of params: {{@param1}} as well as {{@param2}}

    </div>

    <p>You have clicked the button {{count}} times.</p>
    <button onclick={{action increment}}>Click
    </button>
  
</section>